/******************************************************************************
STRUCTURE
******************************************************************************/
body {
    background: #031A1F url(../images/DCskyline.jpg) no-repeat top center;
    background-size: 100% 100%;
    /*font-family: 'Open Sans', sans-serif; */
    font-family: 'Merriweather', serif;
    font-size: 12pt;
	line-height: 1.2em;
    margin: 0px;
	}

html, body {height: 100%;}

#main-container {
    width: 100%;
    min-height: 650px;
}

#head-container {
	width: 100%;
}

#banner {
	max-width: 1100px;
    width: 100%;
	margin: 0 auto;
    height: 50px;
}
    #logo {
        background: transparent url(../images/Q_logo_small.png) no-repeat;
        height: 40px;
        width: 20%;
        top: 5px;
        position: relative;
        display: inline-block;
    }
        #logo a {
            display: block;
            height: 40px;
            left: 0;
            position: absolute;
            width:40px;
            text-indent: -9999px;
            overflow:hidden;
        }
        #logo h3 {
            color: #ffffff;
            position: relative;
            left: 40px;
        }

    /*********
      Menu
    *********/
    #menu {
        width: 70%;
        float: right;
        font-family: 'Open Sans', sans-serif;
        top: 12px;
        padding: 0;
        margin: 0;
        border: 0;
        position: relative;
    }
    #menu > ul {
        height: 30px;
        padding: 10px 15px 10px 0px;
    }
    #menu > ul > li {
        margin: 0 5.5px;
    }
    #menu ul,
    #menu li {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #menu ul li {
        float: left;
        min-height: 1px;
        vertical-align: middle;
    }
    #menu ul li.hover,
    #menu ul li:hover {
        position: relative;
        cursor: default;
    }
    #menu a {
        display: block;
        line-height: 1em;
        text-decoration: none;
    }
    /* Custom CSS Styles */
    #menu ul a {
        background-color: #c2c2c2;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #84B9D8), color-stop(1, #84B9D8));
        background-image: -webkit-linear-gradient(top, #84B9D8, #84B9D8);
        background-image: -moz-linear-gradient(top, #84B9D8, #84B9D8);
        background-image: -o-linear-gradient(top, #84B9D8, #84B9D8);
        background-image: linear-gradient(#84B9D8, #84B9D8);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #000000;
        font-size: 14px;
        line-height: 27px;
        padding: 0 20px;
        position: relative;
        text-align: center;
    }
    /*
    #menu > ul > li.has-sub:hover > a {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    */
    #menu > ul > li:hover > a {
        background-color: #e2e2e2;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #84B9D8));
        background-image: -webkit-linear-gradient(top, #ffffff, #84B9D8);
        background-image: -moz-linear-gradient(top, #ffffff, #84B9D8);
        background-image: -o-linear-gradient(top, #ffffff, #84B9D8);
        background-image: linear-gradient(#ffffff, #84B9D8);
    }
    #menu > ul > li.active:hover > a {
        background-color: #e2e2e2;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #c8c8c8));
        background-image: -webkit-linear-gradient(top, #ffffff, #c8c8c8);
        background-image: -moz-linear-gradient(top, #ffffff, #c8c8c8);
        background-image: -o-linear-gradient(top, #ffffff, #c8c8c8);
        background-image: linear-gradient(#ffffff, #c8c8c8);
    }

    /* Gradient color1 - color2 - color1 */
    hr.style-one {
        display: block;
        width: 100%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, transparent, #ffffff, transparent);
    }

/*****************************************************
FOOTER
*****************************************************/
#footer-container {
    position: relative;
    width: 100%;
    margin-top: -98px; /* negative value of footer height */
    height: 90px;
    clear:both;
}

#footer {
    width: 1100px;
	margin: 0 auto;
    color: #ffffff;
}

#social_media_icons {
    position: relative;
    top: 5px;
    float: right;
    width: 27%;
}
    .facebook_icon {
        display: inline-block;
        background: transparent url(../images/facebook.png) no-repeat;
        background-size: contain;
        height: 33px;
        width: 33px;
        margin: 0px 3px;
    }
    .twitter_icon {
        display: inline-block;
        background: transparent url(../images/twitter-bird.png) no-repeat;
        background-size: contain;
        height: 33px;
        width: 33px;
        margin: 0px 3px;
    }
    .linkedin_icon {
        display: inline-block;
        background: transparent url(../images/linkedin.png) no-repeat;
        background-size: contain;
        height: 33px;
        width: 33px;
        margin: 0px 3px;
    }

#more_info {
    width: 60%;
}

/*****************************************************
MAIN CONTENT DIV'S
*****************************************************/
#main {
	position:relative;
    width: 1100px;
}

#content {
    width: 1100px;
    position:relative;
    overflow:auto;
    padding-bottom: 98px;
    margin: 0 auto;
}

/*****************************************************
BASICS
*****************************************************/
p  {padding:3px;}
img {border:none;}
h1 {
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
}
h2 {
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
}
h3 {
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
}

.ghost-button-footer {
    float: right;
    display: inline-block;
    width: 150px;
    font-size: 12px;
    padding: 5px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}
.ghost-button-footer:hover,
.ghost-button-footer:active {
    background-color: #84B9D8;
    border-color: #84B9D8;
    border-radius: 5px;
    color: #fff;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}

/******************************************************************************
LINKS
******************************************************************************/
a {
	color: #ffffff;
	text-decoration:none; 
	font-weight: bold; 
	outline:none; 
	cursor:pointer;
}
a:link {
	color: #ffffff;
	text-decoration:none; 
	font-weight: bold; 
	outline:none;
}
a:visited {
	color: #ffffff;
	font-weight: bold; 
	text-decoration:none; 
	outline:none;
}
a:hover {
	color: #aaaaaa; 
	font-weight: bold; 
	outline:none
}
a:active {
	color: #ffffff;
	font-weight: bold; 
	text-decoration:none; 
	outline:none;
}

/******************************************************************************
CONNECT PAGE
******************************************************************************/
#twitter {
    background: #eeeeee;
    border: 2px solid #444444;
    padding: 0px 5px;
    float: right;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}