/******************************************************************************
STRUCTURE
******************************************************************************/
/* global box-sizing */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    box-sizing: inherit;


}
*,
*:after,
*:before {

}
/* html element 62.5% font-size for REM use; This = 10px */
html {
    font-size: 18px;
}

body {
    background: #031A1F url(../images/DCskyline.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Merriweather',"Times New Roman", Times, serif;
	line-height: 1.2em;
    min-height: 100%;
    margin: 0px;
	}

html, body {height: 100%;}

#main-container {
    width: 100%;
    min-height: 750px;
}

#head-container {
	width: 100%;
}

#banner {
	max-width: 1100px;
    width: 100%;
	margin: 0 auto;
    height: 45px;
}
    #logo {
        background: transparent url(../images/Q_logo_small.png) no-repeat;
        height: 40px;
        width: 20%;
        top: 5px;
        position: relative;
        display: inline-block;
    }
        #logo a {
            display: block;
            height: 40px;
            left: 0;
            position: absolute;
            width:40px;
            text-indent: -9999px;
            overflow:hidden;
        }
        #logo h3 {
            color: #ffffff;
            position: relative;
            left: 40px;
        }

/******************************************************
  Menu
******************************************************/
    #menu {
        width: 70%;
        float: right;
        font-size: 1.2em;
        font-family: 'Open Sans', sans-serif;
        top: 12px;
        padding: 0;
        margin: 0;
        border: 0;
        position: relative;
    }
    #menu > ul {
        height: 30px;
        padding: 10px 15px 10px 0px;
    }
    #menu ul,
    #menu li {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #menu ul li {
        float: left;
        min-height: 1px;
        vertical-align: middle;
    }
    /* Custom CSS Styles */
    #menu ul a {
        float: right;
        display: inline-block;
        width: 100px;
        font-size: 0.875em;
        padding: 3px;
        color: #fff;
        background-color: transparent;
        border: 0px solid #fff;
        text-align: center;
        text-shadow: #222222 -2px -2px 4px;
        border-radius: 2px;
        outline: none;
        text-decoration: none;
        transition: color 0.3s ease-out,
        background-color 0.3s ease-out,
        border-color 0.3s ease-out;
    }

    #menu > ul > li:hover > a {
        border-radius: 2px;
        color: #84B9D8;
        text-shadow: #000 -1px -1px 2px;
        transition: color 0.3s ease-in,
        background-color 0.3s ease-in,
        border-color 0.3s ease-in;
    }

    /* Gradient color1 - color2 - color1 */
    hr.style-one {
        display: block;
        width: 100%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, transparent, #ffffff, transparent);
    }

/*****************************************************
FOOTER
*****************************************************/
#footer-container {
    position: relative;
    width: 100%;
    margin-top: -48px; /* negative value of footer height */
    height: 50px;
    clear:both;
}

#footer {
    width: 1100px;
	margin: 0 auto;
    color: #ffffff;
}

#social_media_icons {
    position: relative;
    top: 5px;
    float: right;
    width: 27%;
}
    .facebook_icon {
        display: inline-block;
        background: transparent url(../images/facebook.png) no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        margin: 0px 5px;
    }
    .twitter_icon {
        display: inline-block;
        background: transparent url(../images/twitter-bird.png) no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        margin: 0px 5px;
    }
    .linkedin_icon {
        display: inline-block;
        background: transparent url(../images/linkedin.png) no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        margin: 0px 5px;
    }

#more_info {
    width: 60%;
}

/*****************************************************
HOME CONTENT DIV'S
*****************************************************/
#content {
    width: 100%;
    position:relative;
    overflow:auto;
    padding-bottom: 48px;
}

#main {
	position:relative;
    width: 1100px;
    min-height: 600px;
    margin: 0 auto;
}
    #main .name {
        position: relative;
        width: 100%;
        font-size: 1.400em;
        text-shadow: #222222 -2px -2px 4px;
        color: #ffffff;
    }
    #main .occupation {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1.350em;
        text-shadow: #222222 -2px -2px 4px;
        color: #ffffff;
    }
    #main .quote {
        position: absolute;
        top: 0;
        right: 0;
        font-size: .900em;
        text-shadow: #222222 -2px -2px 4px;
        color: #ffffff;
        opacity: .7;
    }

/*****************************************************
ABOUT CONTENT DIV'S
*****************************************************/
#about-quote {
    width: 1100px;
    margin: 0 auto;
    color: #ffffff;
    opacity: .7;
    font-size: .900em;
    text-shadow: #222222 -2px -2px 4px;
    padding: 0px 0px 20px 0px;
    height: 40px;
}
    #about-quote p {
        float:right;
    }

#bg-wrapper {
    background: #E6E6E6;
    -webkit-box-shadow: 0px 20px 0px 0px rgba(230,230,230,0.4), 0px -20px 0px 0px rgba(230,230,230,0.4);
    -moz-box-shadow: 0px 20px 0px 0px rgba(230,230,230,0.4), 0px -20px 0px 0px rgba(230,230,230,0.4);
    box-shadow: 0px 20px 0px 0px rgba(230,230,230,0.4), 0px -20px 0px 0px rgba(230,230,230,0.4);
    width: 100%;
    opacity: .9;
    margin-top: 70px;
}
    #about {
        position:relative;
        width: 1100px;
        margin: 10px auto;
        padding: 20px 0px;
    }

        #left-side {
            position: relative;
            width: 25%;
            display: inline-block;
        }

            .circular-square {
                border-radius: 50%;
                width: 250px;
                height: 250px;
            }

            #social_section {
                display: block;
                margin: 0 auto;
            }

                .social_icons {
                    width: 20px;
                    height: 20px;
                    margin: 17px;
                }

        #right-side {
            position: relative;
            float: right;
            width: 70%;
            display: inline-block;
        }

/*****************************************************
SKILLSET CONTENT DIV'S
*****************************************************/
#skill {
    position:relative;
    width: 1100px;
    margin: 10px auto;
    padding: 20px 0px;
}

#skill-box {
    background: #E6E6E6;
    -webkit-box-shadow: 0px 0px 4px 10px rgba(230,230,230,0.4);
    -moz-box-shadow: 0px 0px 4px 10px rgba(230,230,230,0.4);
    box-shadow: 0px 0px 4px 10px rgba(230,230,230,0.4);
    display: inline-block;
    margin: 18px;
    width: 21%;
    height: 130px;
    opacity: .8;
}
#skill-box img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}
#skill-box:hover {
    opacity: .99;
}

/*****************************************************
BASICS
*****************************************************/
p {margin: 10px 0px;}
img {border:none;}
h1 {
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
}
h2 {
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
}
h3 {
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
}
h4 {
    margin: 15px 0px;
}

.ghost-button-footer {
    float: right;
    display: inline-block;
    width: 150px;
    font-size: 12px;
    padding: 3px 5px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}
.ghost-button-footer:hover,
.ghost-button-footer:active {
    background-color: #84B9D8;
    border-color: #84B9D8;
    border-radius: 5px;
    color: #fff;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}

/******************************************************************************
LINKS
******************************************************************************/
a {
	color: #ffffff;
	text-decoration:none; 
	font-weight: bold; 
	outline:none; 
	cursor:pointer;
}
a:link {
	color: #ffffff;
	text-decoration:none; 
	font-weight: bold; 
	outline:none;
}
a:visited {
	color: #ffffff;
	font-weight: bold; 
	text-decoration:none; 
	outline:none;
}
a:hover {
	color: #aaaaaa; 
	font-weight: bold; 
	outline:none
}
a:active {
	color: #ffffff;
	font-weight: bold; 
	text-decoration:none; 
	outline:none;
}

/******************************************************************************
CONNECT PAGE
******************************************************************************/
/*
#twitter {
    background: #eeeeee;
    border: 2px solid #444444;
    padding: 0px 5px;
    float: right;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
*/
/************************************************************
RESPONSIVE STYLE
************************************************************/
/*
@media only screen and (max-width: 1100px) {
    body {
        font-size:120%;
        .wrap {max-width:770px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size:100%;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size:90%;
    }
}

*/