/******************************************************************************
STRUCTURE
******************************************************************************/
/* global box-sizing */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    box-sizing: inherit;
}
*,
*:after,
*:before {

}
/* html element 62.5% font-size for REM use; This = 10px */
html {
    font-size: 18px;
}
body.Home:after {
    content:"";
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1;
    display:block;
    font-family: 'Playfair Display', serif;
	line-height: 1.2em;
    margin: 0px;
	}

body.day {
    background: #ffffff url(../images/DC-monument_updated.jpg) no-repeat 50% 50%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body.sunset {
    background: #ffffff url(../images/sunset.jpg) no-repeat 50% 50%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body.night {
    background: #ffffff url(../images/DCskyline.jpg) no-repeat 50% 50%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body.NotHome {
    background: #ffffff url(../images/wallpaper/concrete_seamless.png) repeat;
}

html, body {
    height: 100%;
    margin: 0px;
}

#head-container {
    background-image: linear-gradient(to right, transparent, #c2c2c2, transparent);
	width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
}

#banner {
	max-width: 1100px;
    width: 100%;
	margin: 0 auto;
    height: 40px;
}
    #logo {
        background: transparent url(../images/Q_logo.png) no-repeat;
        background-size: contain;
        height: 40px;
        width: 4%;
        top: 7px;
        left: 10px;
        position: relative;
        display: inline-block;
    }
        #logo a {
            display: block;
            height: 40px;
            left: 0;
            position: absolute;
            width:40px;
            text-indent: -9999px;
            overflow:hidden;
        }
        #logo h3 {
            color: #ffffff;
            position: relative;
            left: 40px;
        }

    .menu {
        text-shadow: #eee -1px -1px 2px;
        margin: 0px 5px;
        position: relative;
        top: 0px;
    }

    .profile_img {
        width: 10%;
        height: auto;
        border-radius: 50%;
        position: relative;
        top: 10px;
        margin-right: 3px;
    }

/* Gradient color1 - color2 - color1 */
hr.style-one-head {
    display: block;
    width: 100%;
    border: 0;
    height: 1px;
    margin-bottom: 0px;
    background-image: linear-gradient(to right, transparent, #ffffff, transparent);
}
hr.style-one-foot {
    display: block;
    width: 100%;
    border: 0;
    height: 1px;
    margin-top: 0px;
    background-image: linear-gradient(to right, transparent, #ffffff, transparent);
}

.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.wrapper-back {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.main section .page_container {
    position: relative;
    top: 10%;
    margin: 0 auto 0;
    max-width: 1100px;
    z-index: 3;
    padding-bottom: 60px;
}

.main section  {
    overflow: auto;
}

.main section > img {
    position: absolute;
    max-width: 100%;
    z-index: 1;
}

.main section.page1 {
    /*
    background: #ffffff url(../images/DC-monument_updated.jpg) no-repeat 50% 50%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    */
}

.main section.page2 {
    background: #ffffff url(../images/night.jpg) no-repeat 50% 50%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.main section.page3 {
    background: transparent url(../images/metro.jpg) no-repeat 50% 50%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.main section.page4 {
    background: transparent url(../images/library.jpg) no-repeat 50% 50%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.main-back {
    position: relative;
    top: 7%;
    margin: 0 auto 0;
    max-width: 1100px;
    z-index: 3;
}

body.disabled-onepage-scroll .onepage-wrapper  section {
    min-height: 100%;
    height: auto;
}

body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
    padding: 20px;
    margin-top: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.disabled-onepage-scroll  section .page_container h1{
    text-align: center;
    font-size: 50px;
    width: 100%;
}
body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
    text-align: center;
    width: 100%;
}

body.disabled-onepage-scroll .main section.page1 > img {
    position: absolute;
    width: 80%;
    left: 10%;
}

body.disabled-onepage-scroll .main section > img {
    position: relative;
    max-width: 80%;
    bottom: 0;
}
body.disabled-onepage-scroll code {
    width: 95%;
    margin: 0 auto 25px;
    float: none;
    overflow: hidden;
}

body.disabled-onepage-scroll .main section.page3 .page_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}

#left-side {
    width: 30%;
    display: inline-block;
    float: left;
    color: #222222;
    margin-right: 20px;
}
#right-side {
    float: right;
    width: 65%;
    display: inline-block;
}
    #right-side .user-profile label {
        background: #444;
        color: #eeeeee;
        display: inline-block;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 25%;
        border: 1px solid #fff;
        padding: 5px 10px;
        margin: 0px 10px 5px 0px;
        text-align: right;
    }
    #right-side .edit-profile label {
        background: #444;
        color: #eeeeee;
        display: inline-block;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 25%;
        padding: 5px 10px;
        margin: 0px 0px 5px;
        text-align: right;
    }
    #right-side input[type="file"] {
        padding-left: 10px;
    }
    #right-side img.file_img {
        padding-left: 10px;
        width: 7%;
        height: auto;
    }
    #right-side .project-items {
        padding: 0px;
    }
    #right-side .project-items li {
        margin: 10px 0px;
    }
    #right-side input[type="text"] {
        padding: 7px 10px;
        position: relative;
        top: -1px;
        border: 1px solid #444;
    }

/*****************************************************
FOOTER
*****************************************************/
#footer-container {
    background-image: linear-gradient(to right, transparent, #c2c2c2, transparent);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
}

#footer {
    font-family: 'Work Sans', sans-serif;

    max-width: 1100px;
    width: 100%;
	margin: 0 auto;
    text-shadow: #222222 -2px -2px 4px;
    color: #ffffff;
}
#more_info {
    width: 40%;
    display: inline-block;
    position: relative;
}
#links {
    float: right;
    width: 20%;
    display: inline-block;
    position: relative;
    top: -5px;
}
#social_media_icons {
    width: 30%;
    float: right;
    position: relative;
}
#social_media_icons ul,
#social_media_icons li {
    float: right;
    list-style: none;
    margin-bottom: 0px;
}
#social_media_icons ul li {
    float: left;
    vertical-align: middle;
}
#links ul,
#links li {
    list-style: none;
}
#links ul li {
    float: left;
    vertical-align: middle;
    padding: 0px 10px;
}

#links ul li a {
    text-shadow: #222222 -1px -1px 2px;
    color: #84B9D8;
    cursor: pointer;
}
#links ul li a:hover {
    text-shadow: #eee -1px -1px 2px;
    color: #84B9D8;
}
/* Custom CSS Styles */
#social_media_icons ul a {
    float: right;
}
    .facebook_icon {
        display: inline-block;
        background: transparent url(../images/facebook.png) no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        margin-right: 5px;
        position: relative;
        top: -5px;
    }
    .twitter_icon {
        display: inline-block;
        background: transparent url(../images/twitter-bird.png) no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        margin-right: 5px;
        position: relative;
        top: -5px;
    }
    .github_icon {
        display: inline-block;
        background: transparent url(../images/github.png) no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        margin-right: 5px;
        position: relative;
        top: -5px;
    }
    .linkedin_icon {
        display: inline-block;
        background: transparent url(../images/linkedin.png) no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        margin-right: 5px;
        position: relative;
        top: -5px;
    }

.ghost-button-footer {
    text-shadow: none;
    float: right;
    display: inline-block;
    width: 130px;
    font-size: 12px;
    padding: 8px;
    color: #fff;
    position: relative;
    top: -7px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}
.ghost-button-footer:link, .ghost-button-footer:visited {
    color: #fff;
}
.ghost-button-footer:hover,
.ghost-button-footer:active {
    background-color: #84B9D8;
    border-color: #84B9D8;
    border-radius: 5px;
    color: #fff;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}

/*****************************************************
HOME
*****************************************************/
    .main .name {
        position: absolute;
        top: 60px;
        width: 100%;
        font-size: 1.400em;
        text-shadow: #222222 -2px -2px 4px;
        color: #ffffff;
        text-align: center;
    }
    .main .occupation {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1.350em;
        text-shadow: #222222 -2px -2px 4px;
        color: #ffffff;
    }
    .main .carousel-text {
        text-shadow: #222222 -2px -2px 4px;
        color: #ffffff;
    }

    .about {
        position:relative;
        max-width: 1100px;
        width: 100%;
        margin: 0px auto;
        padding: 20px 0px;
    }
        .about-text {
            background: #e0e0e0;
            opacity: .90;
            padding: 20px 20px 130px;
            border-radius: 5px;
        }
        .circular-square {
            border-radius: 50%;
            width: 30%;
            height: 100%;
            display: inline-block;
            float: left;
            margin-right: 20px;
        }
        .about-text h2 {
            color: #222222;
            text-shadow: 0 2px 2px #fff;
            text-align: center;
            margin-top: 35px;
        }

        .about-text:hover {
            background: #e0e0e0;
            opacity: .99;
        }

    #skill {
        display: block;
        position:relative;
        max-width: 1100px;
        width: 100%;
        margin: 0px auto;
        padding: 0px;
    }
    .skill-box {
        background: #E6E6E6;
        margin: 5px 0px;
        width: calc(25% - 1em);
        opacity: .8;
        padding: 0px 10px 15px;
        font-size: 0.800em;
    }
        .skill-box img {
            width: 30%;
            display: block;
            height: auto;
            margin: 0 auto;
            padding: 5px;
        }
        .skill-box:hover {
            opacity: .99;
        }
        .skill-box h2 {
            color: #222222;
            text-shadow: 0 2px 2px #fff;
            text-align: center;
        }

    #owl-portfolio .owl-item img{
        display: block;
        width: 100%;
        height: auto;
    }

/*****************************************************
Contact Page
*****************************************************/
.contact-page .field {
    margin: 1em 0;
}

.contact-page label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    color: #999999;
}

.contact-page input {
    width: 50%;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

.contact-page textarea {
    width: 100%;
    height: 200px;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

.contact-page button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: #84B9D8;
    border-bottom: 1px solid #84B9D8;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: center;
}

.contact-page button:hover, .contact-page button:focus {
    opacity: 0.75;
    cursor: pointer;
}

.contact-page button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.contact-page .success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.contact-page .error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*****************************************************
Login Page
*****************************************************/
.login-box {
    width: 100%;
    display: inline-block;
    background: #efefef;
    border: 1px solid #444;
    padding: 5px 20px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}
.login-box input[type=text], .login-box input[type=password], .login-box input[type=email] {
    width: 100%;
    margin: 2px 0px;
    padding: 5px;
}
.login-box label {
    font-size: 0.775em;
    display: block;
    margin: 10px 0px;
}
.login-box button {
    float: right;
    display: inline-block;
    margin: 5px 0px;
    padding: 5px 10px;
}

a.delete_product {
    height: 30px;
    width: 30px;
    padding: 5px 20px;
    margin: 0px 5px;
}

/*****************************************************
Project Page
*****************************************************/
#title h2 {
    text-align: center;
    margin-top: 0;
}
.project {
    background: #444444;
    border: 1px solid #FFFFFF;
    margin: 10px;
    width: 30%;
    display: inline-block;
}
.project button {
    background: transparent;
    color: #84B9D8;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    width: 100%;
}

/*****************************************************
BASICS
*****************************************************/
p {
    margin: 10px 0px;
    font-family: 'Work Sans', sans-serif;
}
img {border:none;}
h1 {
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
    font-family: 'Playfair Display', serif;
}
h2 {
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
}
h3 {
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
}
h4 {
    margin: 15px 0px;
}
.wrapper-back h1 {
    color: #444444;
    text-shadow: 0 2px 2px #eeeeee;
    font-family: 'Playfair Display', serif;
}
.wrapper-back h2 {
    color: #444444;
    text-shadow: 0 2px 2px #eeeeee;
    font-family: 'Playfair Display', serif;
}
.wrapper-back h3 {
    color: #444444;
    text-shadow: 0 2px 2px #eeeeee;
    font-family: 'Playfair Display', serif;
}
.wrapper-back h4 {
    margin: 15px 0px;
}
button {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 5%;
}
ul {
    list-style: none;
}

/******************************************************************************
LINKS
******************************************************************************/
a {
	color: #84B9D8;
	text-decoration:none; 
	font-weight: bold; 
	outline:none; 
	cursor:pointer;
}
a:link {
	color: #84B9D8;
	text-decoration:none; 
	font-weight: bold; 
	outline:none;
}
a:visited {
	color: #84B9D8;
	font-weight: bold; 
	text-decoration:none; 
	outline:none;
}
a:hover {
	color: #aaaaaa; 
	font-weight: bold; 
	outline:none
}
a:active {
	color: #ffffff;
	font-weight: bold; 
	text-decoration:none; 
	outline:none;
}

/************************************************************
RESPONSIVE STYLE
************************************************************/


@media only screen and (max-width: 1024px) {
    body {
        font-size:80%;
        margin: 0px;
    }
    #main {
        width: 100%;
    }
    #banner, #main, #more_info {
        padding: 0px;
    }
    #content {
        min-height: 100px;
    }
    #quote {
        padding: 0px 10px 10px 10px;
    }
    .bg-wrapper {
        margin: 10px 0px 50px 0px;
    }
    #social_media_icons ul,
    #social_media_icons li {
        margin-right: 5px;
    }
    #more_info {
        padding-left: 10px;
    }
    .about {
        padding: 15px 10px;
    }
    #skill {
        width: 95%;
        margin: 0px 10px 0px 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    #main {
        margin-top: 50px;
    }
    #more_info {
        display: block;
        text-align: center;
        width: 100%;
        top: 0px;
        margin: 0px;
        padding: 0px 0 0;
    }
    #more_info p {
        margin: 5px 0px;
    }
    #social_media_icons {
        width: 85%;
    }

    #links {
        text-align: center;
        width: 100%;
        padding: 0px;
        float: none;
        top: 0px;
        display: inline-block;
        margin: 5px 0px;
    }
    #links ul {
        display: block;
        margin: 0;
        padding: 0px;
        float: none;
    }
    #links ul li {
        border: none;
        float: none;
        display: inline-block;
    }
    #links ul li:first-child {
        border: none;
    }
    #left-side {
        width: 35%;
    }
    #right-side {
        width: 60%;
    }
    .skill-box {
        width: 23%;
    }
        .skill-box img {
            width: 50%;
        }
    .about-text {
        opacity: .99;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size:70%;
    }
    #logo {
        top: 5px;
    }

    .about {
        padding: 15px 10px 60px 10px;
    }
    #left-side {
        width: 100%;
        text-align: center;
    }
    #right-side {
        width: 100%;
    }
    .circular-square {
        background-color: #3c444d;
        width: 200px;
        height: 200px;
        display: block;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 520px) {
    .name {
        top: 150px;
        text-align: center;
    }
    #quote p {
        margin-left: 0px;
    }

    body .main section .page_container {
    }
    .rehide {
        display: none !important;
    }
    .main section.page3 .page_container {
        right: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .ghost-button-footer {
        background: transparent url(../images/contact.png) no-repeat;
        background-size: contain;
        color: transparent;
        height: 35px;
        width: 35px;
        border: none;
        padding: 0;
        position: relative;
        left: -3px;
        top: -8px;
    }
    .ghost-button-footer:link {
        color: transparent;
    }
    .ghost-button-footer:hover, .ghost-button-footer:active {
        background-color: transparent;
        border: none;
    }
    .skill-box {
        width: 22%;
    }
        .skill-box img {
            width: 70%;
        }
}

@media only screen and (max-width: 425px) {
    .about {
        padding: 10px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size:70%;
    }
    #menu ul a {
        width: 80px;
    }
}
@media only screen and (max-width: 350px) {
    .about-text {
        padding: 10px 20px 5px;
    }
    .circular-square {
        width: 60%;
        margin: 0 auto 10px;
        height: auto;
        display: block;
        float: none;
    }
    #skill {
        padding: 0px;
        margin: 0px;
    }
    .skill-box {
        width: 40%;
        margin: 10px;
    }
}
@media only screen and (max-width: 320px) {
    .main section {
        overflow: auto;
    }
    #social_media_icons ul, #social_media_icons li {
        margin-right: 0px;
        padding-left: 0px;
    }
    #social_media_icons li:last-child {
        margin-right: 5px;
    }
    .main section .page_container {
        top: 7%;
    }
}
